pytest==7.1.2; python_version >= '3.7'
pytest==7.0.1; python_version < '3.7'
psutil==5.9.1
keyrings.alt==3.0
keyring==22.3.0
poetry==1.1.14
poetry-core==1.0.8

# keep in sync with pyproject.toml.project.dependencies
pydantic==1.9.1
